{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'users/bs/css/flatly.min.css' %}" />
    <link rel="stylesheet" href="{% static '/users/styleindex.css' %}" type="text/css">
  </head>
  <body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">I've to complete these tasks!!</a>
    <form class="form-inline">
          <a href="{%url 'logout' %}" type='submit' class="btn btn-warning">LogOut</a>
      </form>
</nav>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <!--{% for post in posts %}
    <h4>{{ post.task }}</h4>
    <p><small>form {{ post.start_date|date:'F d, Y' }} to {{post.due_date|date:'F d, Y'}}</small></p>
    <p>done by {{post.author}} priority {{ post.priority }} type {{post.type}}</p>

  {% endfor %}-->
</body>
</html>
